.brisk-panel .panel {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-color: #ddd;
  color: #555; }
  .brisk-panel .panel .panel-heading {
    color: #333;
    background-color: #fafafa;
    border-color: #ddd;
    border-bottom: 2px solid #ececec; }
    .brisk-panel .panel .panel-heading .panel-heading-controls {
      float: right;
      height: 0; }
      .brisk-panel .panel .panel-heading .panel-heading-controls button {
        outline: none; }
        .brisk-panel .panel .panel-heading .panel-heading-controls button .fa {
          margin-top: 3px; }
      .brisk-panel .panel .panel-heading .panel-heading-controls .pagination {
        margin-left: 10px;
        padding: 0;
        white-space: nowrap; }
        .brisk-panel .panel .panel-heading .panel-heading-controls .pagination.pagination-xs {
          margin-top: -1px; }
        .brisk-panel .panel .panel-heading .panel-heading-controls .pagination li a, .brisk-panel .panel .panel-heading .panel-heading-controls .pagination li span {
          cursor: pointer;
          position: relative;
          float: left;
          padding: 4px 8px;
          line-height: 1.4;
          text-decoration: none;
          color: #7b7b7b;
          background-color: transparent;
          border: 1px solid #e4e4e4;
          margin-right: 5px;
          border-radius: 2px;
          font-size: 10px; }
        .brisk-panel .panel .panel-heading .panel-heading-controls .pagination li a:hover {
          border-color: #1d89cf; }
        .brisk-panel .panel .panel-heading .panel-heading-controls .pagination li.active a {
          color: #fff;
          background: #1d89cf;
          border-color: #1d89cf; }
          .brisk-panel .panel .panel-heading .panel-heading-controls .pagination li.active a:hover {
            color: #fff;
            background: #1d89cf;
            border-color: #1d89cf; }
        .brisk-panel .panel .panel-heading .panel-heading-controls .pagination li.active span {
          color: #fff;
          background: #1d89cf;
          border-color: #1d89cf; }
      .brisk-panel .panel .panel-heading .panel-heading-controls * + * {
        margin-left: 4px; }
      .brisk-panel .panel .panel-heading .panel-heading-controls * {
        display: block;
        float: left; }
  .brisk-panel .panel .panel-body {
    padding: 0; }
    .brisk-panel .panel .panel-body table {
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 0; }
      .brisk-panel .panel .panel-body table thead tr th[data-sort] {
        cursor: pointer; }
        .brisk-panel .panel .panel-body table thead tr th[data-sort] i {
          float: left; }
      .brisk-panel .panel .panel-body table tbody {
        display: block;
        overflow: auto;
        height: 70vh; }
        .brisk-panel .panel .panel-body table tbody tr:nth-child(odd) td, .brisk-panel .panel .panel-body table tbody tr:nth-child(odd) th {
          background-color: #f5f5f5;
          border-top: 1px solid #e4e4e4; }
        .brisk-panel .panel .panel-body table tbody tr td.rows-alternative {
          text-align: center; }
        .brisk-panel .panel .panel-body table tbody tr.footer {
          position: absolute;
          right: 0;
          bottom: -20px;
          width: 100.15%;
          background: #f9f9f9;
          border: solid 1px #e4e4e4;
          margin-right: -2px; }
          .brisk-panel .panel .panel-body table tbody tr.footer td {
            border: none;
            padding: 0 5px;
            padding-right: 6px;
            font-size: 14px; }
            .brisk-panel .panel .panel-body table tbody tr.footer td span.info {
              position: absolute;
              top: 0;
              right: 5px; }
      .brisk-panel .panel .panel-body table thead,
      .brisk-panel .panel .panel-body table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed; }
.brisk-panel .panel.brisk-filters .panel-body {
  padding: 15px; }
.brisk-panel .panel.brisk-filters .panel-heading-controls .filters-switch {
  padding: 0;
  height: 22px; }

/*# sourceMappingURL=brisk-datatable.css.map */
